
#contact-form {
/*     background-color: firebrick; */
}

form {
    align-content: center;
}

legend {
    padding: 10px;
    text-align: center;
}

fieldset {
    width: 80vw;
    margin-right: 10px;
}

.datos-personales--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
}

.campo-formulario--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

label {
    padding: 2px;
}

.how-meet-container {
    max-width: 400px;
    padding: 10px;
    text-align: left;
}

.how-meet-container div {
    padding: 5px;
}

#div-github-tag {
    max-width: 400px;
    display: flex;
}

#label-tag-github {
    padding-right: 5px;
}

textarea {
    width: 100%;
    border: solid 1px blue;
}