
#section-contact-form {
    background-color: black;
    border-radius: 10px;
}

.contact-form {
    background-color: grey;
    border-radius: 10px;
    width: 50%;
}

form {
/*     border: red solid 1px; */
    align-content: center;
}

legend {
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
    padding: 15px;
}

fieldset {
    width: 80vw;
    margin-right: 10px;
}

.datos-personales--container {
/*     border: rgb(255, 255, 255) solid 2px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
}

.campo-formulario--container {
/*     border: rgb(22, 116, 4) solid 1px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

label {
    padding: 2px;
}

.how-meet-container {
/*     border: rgb(167, 223, 13) solid 1px; */
    max-width: 400px;
    padding: 10px;
    text-align: left;
}

.how-meet-container div {
    padding: 5px;
}

#div-github-tag {
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#label-tag-github {
    padding-right: 5px;
}

#div-textarea {
    text-align: center;
}

textarea {
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 300;
}

form input {
    color: goldenrod;
    border: solid 1px goldenrod;
    background-color: black;
    border-radius: 5px;
    padding: 10px 15px;
}
form > input {
    margin: 15px 80px 25px;
}
