.body-projects {
    background-color: var(--coolor-secondary);
}

.main-projects {
    border-radius: 10px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--coolor-primary);
    height: 100%;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.grid {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project{
    background-color: var(--coolor-primary);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: 30px;
}

.project img{
    border: solid var(--coolor-font) 3px;
    border-radius: 10px;
    object-fit: cover;
    height: 90%;
    width: 90%;
}

a {
    background-color: var(--coolor-primary);
    border: solid 1px var(--coolor-font);
    font-size: 1.8em;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 30px;
}

.write-project {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project p {
    text-align: justify;
    padding: 10px;
}

.project h2 {
    height: 20%;
    width: 90%;
}

@media (min-width: 800px) {
    .project {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }
}