nav {
    display: none;
    background-color: gray;
    margin-bottom: 10px;
    margin-bottom: 10px;
    height: 75px;
}

.botones-navbar {
    width: 100%;
    height: 100%;
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

.botones-navbar a {
    padding: 7px;
    border: solid 1px goldenrod;
    border-radius: 7px;
}

nav a {
    padding: 7px;
    border: solid 1px goldenrod;
    border-radius: 5px;
}

a:hover {
    color:red;
    border: solid 1px red;
    cursor: pointer;
}

@media (min-width: 600px) {
    nav{
        display: block;
    }
}