nav {
    background-color: gray;
    margin-bottom: 10px;
    display: none;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: gray;
    height: 60px;
}

nav a {
    padding: 7px;
    border: solid 1px goldenrod;
    border-radius: 5px;
}

@media (min-width: 600px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-evenly;
        align-items: center;
    }
}