
.projects--carrousel-container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.div--project {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.projects--links-container {
    display: flex;
    justify-content: center;
}

.carrousel--link {
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

#cita {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.img-carousel {

}