
#my-projects {
    /* background-color: cornflowerblue; */
}

.projects--carrousel-container {
/*     border: solid 1px green; */
    min-height: 300px;
    max-height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.div--project {
/*     border: solid 1px red; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.div--project h3 {
    padding: 5px;
    margin-bottom: 5px;
}

#foto {
/*     border: solid 1px yellow; */
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* Links */

.projects--links-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.carrousel--link {
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

#cita {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
