
#my-projects {
    background-color: var(--coolor-primary);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.projects--carrousel-container {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.projects--carrousel-container h2 {
    font-size: 1.5em;
}

.projects--carrousel-container blockquote {
    font-size: 1.5em;
}

.projects {
    width: 100%;
    height:200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.div--project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.div--project a {
    border: solid 1px var(--coolor-font);
    font-size: 1em;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 5px;
    display:grid
}

a:hover {
    color: var(--coolor-font-secondary);
    border: solid 1px var(--coolor-font-secondary);
    cursor: pointer;
}

#foto {
    border: solid 2px var(--coolor-font);
    object-fit: cover;
    max-height: 470px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#cita {
    display: block;
    padding-top: 7px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1em;
}

.projects--links-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.carrousel--link {
    background-color: var(--coolor-font);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin: 0 5px;
}

@media (min-width: 300px){
    .projects{
        height: 400px;
    }
}

@media (min-width: 600px){
    .projects{
        height: 700px;
    }
    .div--project a {
        font-size: 1.8em;
    }
    .projects--carrousel-container h2 {
        font-size: 2em;
    }
    #cita {
        font-size: 1.3em;
    }
}
