#skills {
background-color: var(--coolor-primary);
display: flex;
flex-direction: column;
justify-content: space-evenly;
border-radius: 10px;
max-width: 1080px;
}

.skills--grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    grid-gap: 50px 20px;
}

.skill--flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-gap: 10px 10px;

}

.skill--label-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress-stars--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 5px 5px;
}

.img--icon {
    height: 100%;
    object-fit: cover;
}

.img--stars {
    width: 100px;
    object-fit: cover;
    margin-top: 5px;
}

.animation-container {
    border-radius: 50px;
    background-color: white;
    border: solid 2px var(--coolor-secondary);
    width: 160px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.animation {
    text-align: center;
    border-radius: 50px;
    background-color: rgb(14, 135, 235);
    margin-left: 0;
    
}

@keyframes anime-git {
    0% {
        width: 0%
    }
    50% {
        width: 50%
    }
    100% {
        width: 100%
    }
}

@keyframes anime-html {
    0% {
        width: 0%
    }
    50% {
        width: 50%
    }
    100% {
        width: 100%
    }
}

@keyframes anime-css {
    0% {
        width: 0%
    }
    50% {
        width: 30%
    }
    100% {
        width: 60%
    }
}

@keyframes anime-js {
    0% {
        width: 0%
    }
    50% {
        width: 30%
    }
    100% {
        width: 60%
    }
}

@keyframes anime-python {
    0% {
        width: 0%
    }
    50% {
        width: 40%
    }
    100% {
        width: 80%
    }
}

@keyframes anime-node {
    0% {
        width: 0%
    }
    50% {
        width: 5%
    }
    100% {
        width: 10%
    }
}

#animation-git {
    animation: anime-git 5s;
    width: 100% 
}

#animation-html {
    animation: anime-html 5s;
    width: 100% 
}

#animation-css {
    animation: anime-css 5s;
    width: 60% 
}

#animation-js {
    animation: anime-js 5s;
    width: 60% 
}

#animation-python {
    animation: anime-python 5s;
    width: 80% 
}

#animation-node {
    animation: anime-node 5s;
    width: 10% 
}

@media (min-width:300px){
    #skills{
        min-height: 375px;
    }
}

@media (min-width: 400px){
    .skills--grid-container {
        grid-template-columns: 1fr 1fr;
    }  
}

@media (min-width: 600px){
    .skills--grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}