#skills {
background-color: darkolivegreen;
max-width: 1080px;
}

/* Nivel 1: contenedor de todo */

.skills--grid-container {
    border: solid 1px red;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    grid-gap: 15px 15px;
}

/* Nivel 2: caja completa programa */

.skill--flex-container {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 100px;

}

/* Nivel 3: icono programa + nombre */

.skill--label-container {
/*     border: solid 1px blue; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Barra de progreso y estrellitas */

.progress-stars--container {
/*     border: solid 1px rgb(14, 92, 7); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img--icon {
    height: 100%;
    object-fit: cover;
}

.img--stars {
    width: 100px;
    object-fit: cover;
    margin-top: 5px;
}



@media (min-width: 400px){
    .skills--grid-container {
        grid-template-columns: 1fr 1fr;
    }  
}

@media (min-width: 600px){
    .skills--grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

