:root {
    background-color: rgb(211, 207, 207);
    color: goldenrod
}

body {
    font-family: 'Courgette';
    padding: 0 0 10px ;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

main, header {
    max-width: 1080px;  
}


section {
    margin-bottom: 20px;
    padding: 10px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

a, form > input {
    color: goldenrod;
    text-decoration: none;
    transition: color linear, 
    border linear,

}

a:hover, form > input:hover {
    color:red;
    border: solid 1px red;
    cursor: pointer;
}

label:hover {
    color: red;
}




