
:root {
    background-color: bisque;
}

body {
    font-family: 'Courgette';
    max-width: 1200px;
}

main {
    padding-left: 0;
    padding-right: 0;
}

section {
    margin-bottom: 10px;
}

#my-projects {
    background-color: cornflowerblue;
}

#contact-form {
    background-color: firebrick;
}




