:root{
    --coolor-charcoal: rgba(38, 70, 83, 1);
    --coolor-persian-green: rgba(42, 157, 143, 1);
    --coolor-maize-crayola: rgba(233, 196, 106, 1);
    --coolor-sandy-brown: rgba(244, 162, 97, 1);
    --coolor-burnt-sienna: rgba(231, 111, 81, 1);
    }